@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive-col {
  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

@mixin responsive-card {
  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
    text-align: center;

    .item__image,
    .block__image,
    .mob__image {
      max-height: 150px;
    }
  }
}


@mixin responsive-text {
  @media (max-width: $breakpoint-sm) {
    font-size: $font-size-small;
    text-align: center;
  }
}

@mixin fade-in {
  animation: fadeIn 1s ease-in-out;
}
@mixin section-layout($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $spacing-xl;
  padding: $section-padding;

  @include responsive-col;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@mixin pixel-border {
  border: $border-pixel;
  image-rendering: pixelated;
}